<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="3000000000"></requestLimits>
      </requestFiltering>
    </security>
  </system.webServer>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <!-- <processModel
       memoryLimit="80"
      />
       -->
    <httpRuntime targetFramework="4.5" maxRequestLength="4000000"
      executionTimeout="45" />

    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms">

      <forms
      slidingExpiration="true" defaultUrl="~/SupportingFiles/00Default.aspx"
      timeout="60" loginUrl="~/SupportingFiles/Login.aspx" cookieless="UseCookies"
      />

    </authentication>
    <sessionState mode="InProc"
                    cookieless="UseCookies"
                    timeout="20"/>
  </system.web>

</configuration>